<app-navbar></app-navbar> <!-- Navbar -->

<div class="home-container">
    <app-community-sidebar (createDiscussionGroup)="openCreateDiscussionGroup($event)"
        (questionsFetched)="onQuestionsFetched($event)"></app-community-sidebar>
    <!-- Sidebar -->
    <main class="main-content">
        <!-- <div class="action-bar">
            <button class="post-button" (click)="showPostPopup()">Post</button>
        </div> -->
        <app-list *ngIf="showList" [questions]="questions" (clickenter)="handleItemClicked($event)"></app-list>
        <app-answers *ngIf="!showList" [question]="question" [questionId]="questionId"
            (backToList)="handleBackToList()"></app-answers>
    </main>
</div>

<app-footer></app-footer> <!-- Footer -->

<!-- Create Discussion Group Popup -->
<app-create-discussion-group *ngIf="isCreateDiscussionGroupVisible" [communityName]="selectedCommunityName"
    (closePopup)="closeCreateDiscussionGroup()">
</app-create-discussion-group>

<!-- Post Popup -->
<!-- <app-post *ngIf="isPostPopupVisible" (popupClosed)="closePostPopup()"
    (questionSubmitted)="handleQuestionSubmitted($event)">
</app-post> -->