<app-navbar></app-navbar> <!-- Navbar -->

<div class="home-container">
    <app-community-sidebar (createDiscussionGroup)="openCreateDiscussionGroup($event)"></app-community-sidebar>
    <!-- Sidebar -->
    <main class="main-content">
        <app-list></app-list> <!-- List Component -->
    </main>
</div>

<app-footer></app-footer> <!-- Footer -->

<!-- Create Discussion Group Popup -->
<app-create-discussion-group *ngIf="isCreateDiscussionGroupVisible" [communityName]="selectedCommunityName"
    [users]="users" (groupCreated)="handleGroupCreated($event)" (closePopup)="closeCreateDiscussionGroup()">
</app-create-discussion-group>