<p>add-members-dialog works!</p>
<h2 mat-dialog-title>Add Members</h2>
<mat-dialog-content>
    <form [formGroup]="memberForm">
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Enter Member ID</mat-label>
            <input matInput formControlName="memberId" />
        </mat-form-field>
        <button mat-button type="button" (click)="addMember()">Add</button>
    </form>

    <div *ngIf="memberIds.length > 0">
        <h4>Members to be added:</h4>
        <ul>
            <li *ngFor="let id of memberIds">{{ id }}</li>
        </ul>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="submitMembers()">Submit</button>
</mat-dialog-actions>