<h2 mat-dialog-title>Add Members</h2>
<mat-dialog-content>
  <div *ngIf="usersToAdd.length > 0">
    <h4>Select Users to Add:</h4>
    <div class="user-list">
      <div *ngFor="let user of usersToAdd" class="user-item">
        <input
          type="checkbox"
          [value]="user.username"
          (change)="onUserSelectionChange($event, user.username)"
        />
        <label>{{ user.username }}</label>
      </div>
    </div>
  </div>
  <div *ngIf="usersToAdd.length === 0">
    <p>No users available to add.</p>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="submitMembers()">Submit</button>
</mat-dialog-actions>