<div class="app-container">
    <h1>{{ title }} <span class="current-user-display">(You: {{ currentUser }})</span></h1>

    <div class="chat-layout">
        <!-- <app-user-list></app-user-list> -->
        <div class="chat-main">
            <div class="connection-status" [ngClass]="{ connected: isConnected, disconnected: !isConnected }">
                {{ isConnected ? 'Connected' : 'Disconnected' }}
            </div>
            <div class = "chat-area"><app-chat-window [currentUser]="currentUser" [currentRoomId]="currentRoomId"></app-chat-window></div>
           <div class = "input-area">
            <app-message-input [currentUser]="currentUser" [currentRoomId]="currentRoomId" (sendMessageEvent)="handleSendMessage($event)">
            </app-message-input>
            </div>
        </div>
    </div>
</div>