<footer class="footer-container bg-dark text-white">
  <!-- Quick Links Section -->
  <div class="footer-section quick-links">
    <h3>Quick Links</h3>
    <ul>
      <li><a href="/about" class="footer-link">About</a></li>
      <li><a href="/contact" class="footer-link">Contact</a></li>
      <li><a href="/help" class="footer-link">Help</a></li>
    </ul>
  </div>

  <!-- Contact Section -->
  <div class="footer-section contact">
    <h3>Contact</h3>
    <div class="contact-content">
        <p><i class="fas fa-home mr-3"></i>  CTS, Chennai</p>
        <p><i class="fas fa-envelope mr-3"></i> precisionpros5&#64;gmail.com</p>
        <p><i class="fas fa-phone mr-3"></i> 18002086999</p>
    </div>
  </div>

  <!-- Social Media Section -->
  <div class="footer-section social-icons">
    <h3>Follow us</h3>
    <div class="icons-container">
      <a class="btn btn-outline-light btn-floating m-1 icon" href="https://facebook.com" target="_blank" rel="noopener">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a class="btn btn-outline-light btn-floating m-1 icon" href="https://twitter.com" target="_blank" rel="noopener">
        <i class="fab fa-twitter"></i>
      </a>
      <a class="btn btn-outline-light btn-floating m-1 icon" href="https://google.com" target="_blank" rel="noopener">
        <i class="fab fa-google"></i>
      </a>
      <a class="btn btn-outline-light btn-floating m-1 icon" href="https://instagram.com" target="_blank" rel="noopener">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
  </div>

  <!-- Copyright Section -->
  <div class="footer-bottom text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2025 Copyright:
    <a class="text-white" href="https://echowise.com/">Echowise.com</a>
  </div>
</footer>