
<h2 mat-dialog-title>Update Room Details</h2>
<mat-dialog-content>
    <form [formGroup]="updateRoomForm">
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Room Name</mat-label>
            <input matInput formControlName="name" />
        </mat-form-field>

    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="onSubmit()">Update</button>
</mat-dialog-actions>