<div class="auth-container">
  <div class="auth-card">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <!-- Email Input -->
      <div class="form-group">
        <label for="email">Username</label>
        <input id="email" type="email" formControlName="email" class="form-control" placeholder="Enter your Username"
          [class.is-invalid]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" />
        <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error-message">
          <small *ngIf="loginForm.get('email')?.errors?.['required']">Username is required.</small>
          <small *ngIf="loginForm.get('email')?.errors?.['email']">Please enter a valid Username.</small>
        </div>
      </div>

      <!-- Password Input -->
      <div class="form-group">
        <label for="password">Password</label>
        <div class="password-container">
          <input id="password" [type]="showPassword ? 'text' : 'password'" formControlName="password"
            class="form-control" placeholder="Enter your password"
            [class.is-invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" />
          <span class="toggle-password" (click)="togglePasswordVisibility()">
            <i [class]="showPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
          </span>
        </div>
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error-message">
          <small *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</small>
        </div>
      </div>

      <!-- Login Button -->
      <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
    </form>
    <p>Don't have an account? <a routerLink="/signup" class="link">Sign Up</a></p>
  </div>
</div>