<div class="chat-window">
    <div class="messages-container" #scrollMe>
        <div *ngFor="let msg of messages" class="message-wrapper"
             [ngClass]="{'my-message-wrapper': msg.username === currentUser, 'other-message-wrapper': msg.username !== currentUser && msg.username !== 'Admin', 'admin-message-wrapper': msg.username === 'Admin'}">
            <div
                [ngClass]="{'my-message': msg.username === currentUser, 'other-message': msg.username !== currentUser && msg.username !== 'Admin', 'admin-message': msg.username === 'Admin'}">
                <ng-container *ngIf="msg.username !== 'Admin'">
                    <span class="user-name">{{ msg.username }}:</span>
                    <span class="message-text">{{ msg.content }}</span>
                </ng-container>
                <ng-container *ngIf="msg.username === 'Admin'">
                    <span class="admin-text">{{ msg.username }}</span>
                </ng-container>
                <span class="timestamp">{{ msg.timestamp | date:'shortTime' }}</span>
            </div>
        </div>
    </div>
</div>