.detail-container {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #f8f9fa;
}

.detail-container h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #7367F0
}

.detail-container p {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    color: #333;
}