<div class="list-container">
    <div class="action-bar">
        <button class="post-button" (click)="showCommunityDetailPopup()">View Community Details</button>
    </div>

    <div class="action-bar">
        <button class="post-button" (click)="showPostPopup()">Post Question</button>
    </div>

    <div class="questions-container">
        <div *ngFor="let question of questions" (click)="GoToAnswers(question)">
            <app-detail [question]="question.title" [description]="question.description" [username]="question.username"
                [creationDate]="question.creationDate" [lastEditedDate]="question.lastEditedDate"
                [communityCode]="question.communityCode" [status]="question.status" [tags]="question.tags">
            </app-detail>
        </div>
        <div *ngIf="questions.length === 0" class="no-questions">
            <p>No questions available. Please post a question.</p>
        </div>

        <!-- Post Popup -->
        <div class="post-popup-overlay" *ngIf="isPostPopupVisible">
            <div class="post-popup">
                <app-post (popupClosed)="closePostPopup()" (questionSubmitted)="handleQuestionSubmitted($event)">
                </app-post>
            </div>
        </div>
        <div class="post-popup">
            <app-community-detail *ngIf="isCommunityDetailPopupVisible" [name]="communityDetail?.name"
                [code]="communityDetail?.code" [description]="communityDetail?.description"
                (closePopup)="closeCommunityDetailPopup()">
            </app-community-detail>
        </div>
    </div>
</div>