<div class="list-container">
    <app-community-sidebar (questionsFetched)="onQuestionsFetched($event)"></app-community-sidebar>
    <div class="questions-container">
        <div *ngFor="let question of questions">
            <app-detail [question]="question.title" [description]="question.description" [username]="question.username"
                [votes]="question.votes || 0" [creationDate]="question.creationDate"
                [lastEditedDate]="question.lastEditedDate" [communityCode]="question.communityCode"
                [status]="question.status" [tags]="question.tags">
            </app-detail>
        </div>
    </div>
</div>