<nav class="navbar">
    <div class="navbar-left">
        <img src="assets/logo1.png" alt="Logo" class="logo" />
        <div class="app-name-container">
            <span class="app-name animate-echowise">Echo Wise</span> <!-- Added animate-echowise class -->
            <span class="tagline">Ignite your understanding</span>
        </div>
    </div>
    <div class="navbar-links">
        <div class="navbar-link">
            <a routerLink="/community/home" routerLinkActive="active">
                <img src="assets/home-logo.svg" alt="Home Icon" class="link-icon" />
                Home</a>
        </div>
        <div class="navbar-link">
            <a routerLink="/about" routerLinkActive="active">
                <img src="assets/about-logo.svg" alt="About Icon" class="link-icon" />
                About</a>
        </div>
        <div class="navbar-link">
            <a routerLink="/contact" routerLinkActive="active">
                <img src="assets/contact-logo.svg" alt="Contact Icon" class="link-icon" />
                Contact</a>
            <!-- <button (click)="navigateTo('/contact')">Your Queries</button> -->
        </div>

    </div>
    <div class="navbar-right">
        <div class="profile-container" (click)="toggleDropdown()">
            <img src="assets/profile-logo.svg" alt="Profile Logo" class="profile-logo" />
            <span class="profile-text">My Profile</span>
            <div class="dropdown-menu" *ngIf="showDropdown">
                <button (click)="navigateTo('/queries')">Your Queries</button>
                <button (click)="navigateTo('/help')">Help</button>
                <button (click)="onLogout()">Logout</button>
            </div>
        </div>
    </div>
</nav>