$primary-color: #2c3e50;
$secondary-color: #34495e;
$accent-color: #6a72fa;
$text-color: #080808;
$bg-color:linear-gradient(135deg, rgba(190, 128, 251, 0.2), rgba(108, 96, 245, 0.2));
$box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

.about-container {
    position: absolute;
    top: 64px; /* Adjust to account for the height of the navbar */
    left: 0;
    width: 100vw; /* Full width */
    height: calc(100vh - 60px); /* Full height minus navbar height */
    padding: 20px;
    background: linear-gradient(135deg, rgba(189, 128, 251, 0.29), rgba(108, 96, 245, 0.313));
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', sans-serif;
    overflow-y: hidden; /* Enable vertical scrolling */
    overflow-x: hidden; /* Prevent horizontal scrolling */
    box-sizing: border-box; /* Include padding in width/height calculations */
}

h1, h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #7774fc;
}

h1 {
    font-size: 2.5em;
    animation: fadeIn 1s ease-in-out;
}

h2 {
    font-size: 1.8em;
    animation: fadeIn 1.5s ease-in-out;
}

p, ul {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
    animation: fadeIn 2s ease-in-out;
    overflow-wrap: break-word; /* Ensure text wraps properly */
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    animation: fadeIn 2.5s ease-in-out;
}

li i {
    margin-right: 10px;
    color: #fc63bc; /* Accent color for icons */
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 600px) {
    .about-container {
        padding: 20px;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    p, li {
        font-size: 1em;
    }
}