<div class="sidebar-container">
    <h3>Communities</h3>
    <div *ngFor="let community of communities">
        <div class="community-item">
            <div>
                <input type="radio" name="community" [value]="community.name"
                    [checked]="community.name === selectedCommunity.name" (change)="selectCommunity(community)"
                    (click)="selectCommunity(community)" id="community-{{ community.code }}" />
                <label for="community-{{ community.code }}">{{ community.name }}</label>
            </div>
            <button class="add-button" (click)="openCreateDiscussionGroup(community)">+</button>
        </div>
        <div class="discussion-rooms"
            *ngIf="community.name === selectedCommunity.name && roomsByCommunity[community.code]?.length">
            <div *ngFor="let room of roomsByCommunity[community.code]">
                <input type="radio" name="room" [value]="room.name" (change)="selectDiscussion(room)"
                    [checked]="room.id === selectedRoom?.id" id="room-{{ room.name }}" />
                <label for="room-{{ room.name }}">{{ room.name }}</label>
            </div>
        </div>
    </div>
    <div class="buttons-container">
        <button class="join-button" (click)="showJoinPopup()">+ Join</button>
        <button class="new-button" (click)="showCreatePopup()">+ New</button>
    </div>

    <!-- Create Popup -->
    <app-create-community *ngIf="isCreatePopupVisible" (popupClosed)="closeCreatePopup()"></app-create-community>
    <app-join-community *ngIf="isJoinPopupVisible" (popupClosed)="closeJoinPopup()"></app-join-community>
</div>